:root {
  color-scheme: dark light;

  --main-background-color: #fff;
  --main-color: #111;
  --accent-color: hsl(340deg 100% 43%);
  --link-color: blue;
  --footer-background-color: #eee;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-background-color: #111;
    --main-color: #eee;
    --accent-color: deeppink;
    --link-color: #03a9f4;
    --footer-background-color: #222;
  }
}

body {
  font-family: sans-serif;
  font-size: 0.85rem;
  overscroll-behavior: none;
  padding: 1rem;
}

h1,
h2 {
  white-space: nowrap;
}

h1 {
  font-size: 1rem;
}

h2 {
  font-size: 0.85rem;
  color: var(--accent-color);
  margin-block-end: 0.25rem;
}

ol {
  visibility: hidden;
}

button {
  display: none;
  border: none;
  padding-inline: 1rem;
  margin: 0;
  height: 2.5rem;
  text-decoration: none;
  background-color: dodgerblue;
  background-position-y: 50%;
  background-position-x: 15%;
  border-radius: 4px;
  color: #fff;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  min-width: 7rem;
  padding-inline-start: 42px;
}

button:hover {
  background-color: var(--link-color);
}

button:active {
  transform: scale(0.99);
}

span {
  margin-block-end: 0.25rem;
}

a {
  color: var(--link-color);
}

a:link {
  color: var(--link-color);
}

a:visited {
  color: var(--link-color);
}

a:focus {
  color: var(--accent-color);
}

a:hover {
  color: var(--accent-color);
}

a:active {
  color: var(--accent-color);
}

.parent {
  list-style: none;
  padding-inline-start: 0;
}

.parent > li {
  margin-block-end: 1.75rem;
}

.wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.nested {
  list-style: square;
  padding-inline-start: 1.25rem;
  margin-block-end: 0.5rem;
}

#download {
  background-image: url(./assets/screenshot.svg);
}

.ios {
  background-image: url(./assets/share-ios.svg);
}

.others {
  background-image: url(./assets/share-others.svg);
}

.emoji {
  filter: grayscale(1);
}

.help {
  color: var(--accent-color);
  font-size: inherit;
}

::marker {
  color: var(--accent-color);
}

li {
  white-space: nowrap;
}

footer {
  background-color: var(--footer-background-color);
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 0.65rem;
  padding-block: 0.35rem 0.25rem;
  padding-inline: 0.25rem;
}
